/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/*The below is called creating/using custom/colour-palette in css */


$theme-lightgreen:#ffffff;
$theme-green:darkgreen;
$theme-black:black;



/* Colors */
$body-bg: $theme-lightgreen;
$body-color: $theme-green;
$link-color: $theme-black;

/* Fonts */
$font-family-sans-serif: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-root: 17px;

h1, h2 , h3, h4, h5, h6 {
    text-transform: uppercase;
    color: $theme-lightgreen;
}

.navbar * {
    color: white;
    transition-duration: 0.5s;
}

span.navbar-title {
  transition-duration: 0.5s;  

&:hover {
    color: lighten($theme-green, 10%);
    transition-duration: 0.5s;
}}

